/* Primary stylesheet for nateeag.com. */

@import 'colors';

/* Site-wide styles. */
html
{
    font-family: sans-serif;

    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body
{
    display: block;
    position: relative;

    margin: 0 0 0 0;
    padding: 0 0 0 0;

    border: 0;

    background-color: $old-lace;
    color: $sapphire;

    line-height: 1.4;
}

.header
{
    margin-top: 0;
    background-color: $sapphire;
}

/* Make breadcrumb separators less visible. */
.header .separator {
    font-size: 12px;
    vertical-align: middle;
}

/* Main display area. */
div.content
{
    position: relative;

    width: 70%;
    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 80px;

    padding-left: 20px;
    padding-right: 20px;
}

h1
{
    width: 70%;
    max-width: 800px;

    margin-top: 0;

    margin-left: auto;
    margin-right: auto;

    padding: 1rem;

    color: $harley-davidson-orange;
}

/* TODO get rid of this step into the specificity war. */
h1 > a:visited
{
    color: $harley-davidson-orange;
}

h1 > a:hover
{
    color: $pelorus-blue;
}

h1 > span.subtitle
{
    /* TODO Set a fallback font size for older browsers. */
    font-size: 1.5rem;
}

h2
{
    font-style: italic;
    font-size: 1rem;
}

/* Link styles. */
a
{
    color: $harley-davidson-orange;
    text-decoration: none;
}

a:visited
{
    color: $dark-goldenrod;
}

a:hover
{
    color: $pelorus-blue;
}

a.screenshot
{
    margin: 1rem;
}

/* Make lists a little less ugly. */
ul
{
    list-style-type: square;
}

li
{
    padding-bottom: 5px;
}

ul.links
{
    list-style-type: none;
}

ul.screenshots
{
    list-style-type: none;
}
