{# Template for the site's main page.

   TODO This is pretty unstructured. Make it more modular, and maybe even
   data-driven, someday...

#}

{% extends 'page.html.tmpl' %}

{% block content %}
    <p>
        I program a good bit, play music semi-seriously, and write from time to
        time. I live in Elizabethtown, Pennsylvania, with my beautiful, talented
        wife Stephanie and my son <a href="/photos/newborn-james/">James</a>.
    </p>

    <h3>Software</h3>

    <p>
        I make tools that help
        <a href="http://howicode.nateeag.com/hypotheticals-are-deadly.html">real
        people solve actual problems</a>.
    </p>

    <p>Some software I've worked on is on the Web:</p>

    <ul>
        <li>
            MapQuest's
            <a href="/projects/shape-drawing-control.html">ShapeDrawingControl</a>
        </li>

        <li>
            <a href="/projects/avantco-refrigeration.html">Avantco
            Refrigeration's website</a>
        </li>

        <li>
            Bright Ideas Press's
            <a href="/projects/illuminations.html">Illuminations curriculum</a>
        </li>

        <li>
            <a href="https://github.com/NateEag/diff-check">diff-check</a>, a
            git pre-commit hook for style checking just the changes added by
            the diff.
        </li>

        <li>
            <a href="https://github.com/klaussilveira/gitlist/commit/de2627e4da95f0fcc1f1386e91a73a33ace0bf9b">Several</a>
            <a href="https://github.com/klaussilveira/gitlist/commit/74c47f4ac8c73b3702e324f637736ea47a8bb9da">contributions</a>
            to <a href="http://gitlist.org/">GitList</a>, an open-source Git
            repository viewer written in PHP.
        </li>

        <li>
            various open-source contributions, many visible on <a href="https://github.com/NateEag">GitHub</a>
        </li>
    </ul>

    <p>
        I've used a number of programming languages, most of which are below:
    </p>

    <ul>
        <li>Python</li>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>SQL</li>
        <li>bash</li>
        <li>Emacs Lisp</li>
        <li>C</li>
        <li>Scheme</li>
        <li>Objective-C</li>
        <li>Java</li>
        <li>C++</li>
    </ul>

    <p>
        I'm fluent in HTML, XML, and CSS, but do not list them
        as programming languages, since they are not Turing-complete.
    </p>

    <p>
        I do primarily LAMP web development, but have been caught writing
        command-line utilities for *nix systems, writing cross-platform GUI
        apps in Java Swing or wxPython, and on very rare occasions playing
        with graphics algorithms or video game engines.
    </p>

    <p>
        I strongly prefer *nix environments - I have used Solaris, OS X,
        various Linuxes, and FreeBSD, and my desktop is currently OS X. I use
        Windows when software I'm writing needs to work on Windows.
    </p>

    <p>
        I maintain some <a href="http://howicode.nateeag.com">notes on
        programming</a>, in hopes of passing on what wisdom I have gained
        in my fourteen years of doing it.
    </p>

    <p>
        You can download my resume as an RTF
        <a href="/static/resume-Nate-Eagleson.rtf">here</a>.
    </p>

    <h3>Music</h3>

    <p>I play several instruments with varying degrees of success:</p>

    <ul>
        <li>piano</li>
        <li>keyboards (strongly preferring my Nord G2X and Nord Stage)</li>
        <li>flute</li>
        <li>acoustic guitar</li>
        <li>electric guitar (Telecaster)</li>
        <li>electric bass (basic rock, and it's been a while)</li>
        <li>upright bass (bluegrass-style, and it's been a long while)</li>
    </ul>

    <p>
        I'm pretty good at synth patch design (which is why I love the G2X),
        and try to use primarily my own patches. I owe most of what I have
        learned about sound design to the incredible community at
        <a href="http://electro-music.com/">electro-music.com</a>.
    </p>

    <p>
        I use <a href="http://lilypond.org/">LilyPond</a> when I typeset music.
    </p>
{% endblock %}
