<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta content="{{ meta_content }}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="/main.css" type="text/css" />
        {% endblock %}

        <title>{{ title }}</title>
</head>

<body>
    <div class="header">
        <h1>
            {# TODO Style first and last items differently. #}
            {% for crumb in breadcrumbs %}
                <span class="subtitle"><a href="{{ crumb.href }}">{{ crumb.name }}</a></span>
            {% endfor %}
        </h1>
    </div>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
