<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta content="{{ meta_content }}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="/main.css" type="text/css" />
        {% endblock %}

        <title>{{ title }}</title>
</head>

<body>
    <div class="header">
        {# TODO - make nateag.com a hyperlink back to main page. #}
        <h1><a href="/">nateeag.com</a>
            {% if title %}
            <span class="subtitle">- {{ title }}</span>
            {% endif %}
        </h1>
    </div>

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
