{# Template for photo gallery pages. #}
{% extends "page.html.tmpl" %}

{% block stylesheets %}
    {# TODO Eventually call super() here to make it match other pages. #}
    <link rel="stylesheet" href="/photos.css" type="text/css" />
    {{ super() }}
{% endblock %}

{% block content %}
{{ body|markdown }}

    <ul>
    {% for photo in photos %}
        <li class="photo">
            {# TODO Stop hardcoding photo_dir in yaml files - it could be
               inferred with my new approach (so could the set of photos,
               actually. Come to that, maybe even the thumbnails themselves...)
            #}
            <a href="/photos/{{ photo_dir }}/{{ photo.filename }}">
                <img class="thumbnail" src="/photos/{{ photo_dir }}/thumbnail-{{ photo.filename }}" alt="{{ photo.caption }}" />
            </a>

            <p class="caption">
                {{ photo.caption }}
            </p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
