/* Primary stylesheet for nateeag.com. */

/* Site-wide styles. */
html
{
    font-family: sans-serif;

    border: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body
{
    display: block;
    position: relative;

    margin: 0 0 0 0;
    padding: 0 0 0 0;

    border: 0;

    background-color:  #fdf6e3;
    color: #073642;
}

div.header
{
    margin-top: 0;
    background-color: #073642;
}

/* Main display area. */
div.content
{
    position: relative;

    width: 600px;

    margin-left: auto;
    margin-right: auto;

    margin-bottom: 80px;

    padding-left: 20px;
    padding-right: 20px;
}

h1
{
    width: 600px;

    margin-top: 0;

    margin-left: auto;
    margin-right: auto;

    padding: 1rem;

    color: #cb4b16;
}

/* TODO get rid of this step into the specificity war. */
h1 > a:visited
{
    color: #cb4b16;
}

h1 > a:hover
{
    color: #268bd2;
}

h1 > span.subtitle
{
    /* TODO Set a fallback font size for older browsers. */
    font-size: 1.5rem;
}

/* Link styles. */
a
{
    color: #cb4b16;
    text-decoration: none;
}

a:visited
{
    color: #b58900;
}

a:hover
{
    color: #268bd2;
}

/* Make lists a little less ugly. */
ul
{
    list-style-type: square;
}

li
{
    padding-bottom: 5px;
}
